{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
{% if msgConfirmacao %}
<script>alert('{{msgConfirmacao}}')</script>
{% endif %}
<main>
    <form method="GET" action="/gerencia/teste/editar">
        <input type="hidden" name="perguntaID" value="{{perguntaObj.id}}" />
        <div class="row">
            <div class="col-sm-12 col-md-12 col-12">
                <p><img src="{% static '/icones/question.svg' %}" class="svg cabecalho" alt="">
                    <h3 class="cabecalho-text">Pergunta</h3>
                </p>
            </div>
            <div class="col-sm-12 col-md-10 col-10">
                <br>
                <label>Pergunta</label>
                <input type="text" name="pergunta" class="form-control" maxlength="1000" placeholder="Pergunta..."
                    value="{{perguntaObj.pergunta}}" disabled>
            </div>
            <div class="col-sm-12 col-md-2 col-2">
                <br>
                <label>Pontuação</label>
                <input type="number" name="pontuacao" value="1" maxlength="2" rows="4" min="0" max="10"
                    class="form-control" value="{{perguntaObj.pontuacao}}" disabled>
            </div>
            {% if respostasObj %}
            {% for respostaModel in respostasObj %}
            {% if respostaModel.tipo == '1' %}
            <div class="col-sm-12 col-md-10 col-10">
                <br>
                <label style="color: #4EBF46;">Resposta Correta</label>
                <input type="text" name="respostaCorreta" class="form-control" maxlength="1000"
                    placeholder="Resposta Correta..." value="{{respostaModel.resposta}}" disabled>
            </div>
            {% endif %}

            {% if respostaModel.tipo == '2' %}
            <div class="col-sm-12 col-md-10 col-10">
                <br>
                <label style="color: #BF4646;">Resposta Alternativa </label>
                <input type="text" name="respostaAlternativa" class="form-control" maxlength="1000"
                    placeholder="Resposta alternativa ..." value="{{respostaModel.resposta}}" disabled>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        <br />
        <button type="submit" class="btn btn-secondary float-left" formaction="/gerencia/teste/buscar">Voltar</button>
        <button type="submit" class="btn btn-primary float-right">Editar</button>
    </form>
</main>
{% endblock %}