{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <h2>Selecionar Colaborador</h2>
    <br />
    <form method="POST" action="/gerencia/colaborador/editar">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <select name="colaboradorID" class="custom-select form-control">
                    <option selected disabled>-- Colaboradores --</option>
                    {% for colaboradorModel in colaboradorAll %}
                        <option value="{{colaboradorModel.user.id}}">{{colaboradorModel.nome}} {{colaboradorModel.sobrenome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12"><br /></div>
            <div class="col-12">
                <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>
                <button type="submit" class="btn btn-primary float-right">Editar</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}