{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}

<main>
    <div class="row">
        <div class="col menuPrincipal row" style="text-align: center;">
            <div class="col item">
                <a href="/gerencia/colaborador/novo" class="gerenciaCaption">
                <img  class="conhecaCallan " src="{% static '/img/add-user.png' %}"alt=""><br />
                Novo Colaborador</a>
            </div>
            <div class="col item">
                <a href="/gerencia/colaborador/editar" class="gerenciaCaption">
                <img  class="conhecaCallan " src="{% static '/img/gear.png' %}"alt=""><br />
                Editar Colaborador</a>
            </div>
            <div class="col item">
                <a href="/gerencia/colaborador/visualizar" class="gerenciaCaption">
                <img  class="conhecaCallan " src="{% static '/img/search.png' %}"alt=""><br />
                Visualizar Colaborador</a>
            </div>
            <div class="col item">
                <a href="#" onclick="goBack()" class="gerenciaCaption">
                <img  class="conhecaCallan " src="{% static '/img/reply.png' %}"alt=""><br />
                Voltar</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}