{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <div class="row">
        <div class="row">
            <h4>{{msgTelaInicial}}</h4><br />
        </div>
        <div class="row menuPrincipal " style="text-align: center">
            <div class="col item">
                <a href="/alunos" class="caption">
                <img  class="conhecaCallan" src="{% static '/img/estudante.png' %}"alt=""><br />
                Alunos</a>
            </div>
            <div class="col item">
                <a href="/professores" class="caption">
                <img  class="conhecaCallan" src="{% static '/img/professor.png' %}"alt=""><br />
                Professores</a>
            </div>
            <div class="col item">
                <a href="/classes" class="caption">
                <img  class="conhecaCallan" src="{% static '/img/classe.png' %}"alt=""><br />
                Classes</a>
            </div>
            <div class="col item">
                <a href="/suporte" class="caption">
                <img  class="conhecaCallan" src="{% static '/img/suporte.png' %}"alt=""><br />
                Suporte</a>
            </div>
            <div class="col item">
                <a href="/logout" class="caption">
                    <img  class="conhecaCallan" src="{% static '/img/sair.png' %}"><br />
                Sair</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}