{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <h1>Novo Evento</h1><br />
    <form method="POST" action="/evento/novo">
        {% csrf_token %}
        <div class="row" >
            <div class="col-md-8">
                <span>Titulo do evento:</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Ex: Halloween WINNER</span>
                    </div>
                    <input type="text" name="tituloEvento" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
                <span>Descrição breve do evento:</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Ex: Super evento</span>
                    </div>
                    <input type="text" name="descBreveEvento" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
            <div class="col-md-4">
                    <span>Data:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">{{today}}</span>
                        </div>
                        <input type="date" name="dataEvento" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <span>Hora:</span>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">{{timeNow}}</span>
                        </div>
                        <input type="time" name="horaEvento" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
            </div>
            <div class="col-md-12">
                <span>Upload da imagem principal:</span><br />
                <div class="input-group mb-3">
                    <input type="url" class="form-control" placeholder="Selecione a imagem..." name="urlImagen" id="basic-url" aria-describedby="basic-addon3">  
                    <input type="file" style="display: none;" name="buttonImagen" class="form-control" id="file" id="basic-url" aria-describedby="basic-addon3">  
                    <div class="input-group-append">
                        <button class="btn btn-secondary " onclick="$('#file').trigger('click');" type="button">Selecionar imagem</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                    <span>Descrição detalhada do evento:</span>
                    <textarea name="descCompletaEvento" class="form-control" aria-label="With textarea"></textarea>
                    <br />
            </div>
            <div class="col-md-12">
                <span>Upload de imagens adicionais:</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">C:\users\image\someImage.jpg</span>
                    </div>
                    <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3">  
                        <div class="input-group-append">
                            <button class="btn btn-secondary " type="button">Selecionar imagem</button>
                        </div>
                </div>
            </div>
            {% if not eventoObj %}
            <div class="col-md-12">
                    <br />
                    <br />
                <div class="form-group">
                    <button type="submit" ac class="btn btn-primary float-right">Visualizar</button>
                    <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>
                </div>
            </div>
            {% endif %}
            {% if eventoObj %}
            <div class="col-md-12 ">
                    <br />
                    <br />
                <div class="row d-flex flex-row align-items-end " style="border-style: solid; border-radius: 15px; padding:15px; border-color: #007bff;">

                        <div class="col-lg-2 order-lg-1 order-2">
                            <div class="event_date d-flex flex-column align-items-center justify-content-center">
                                <div class="event_day">{{diaEvento}}</div>
                                <div class="event_month">{{mesEvento}}</div>
                            </div>
                        </div>

                        <div class="col-lg-6 order-lg-2 order-3">
                            <div class="event_content">
                                <div class="event_name"><a class="trans_200" href="">{{tituloEvento}}</a></div>
                                <div class="event_location">{{localEvento}}</div>
                                <p>{{descBreveEvento}}</p>
                            </div>
                        </div>

                        <div class="col-lg-4 order-lg-3 order-1">
                            <div class="event_image">
                                <img src="{% static '/images/event_1.jpg' %}" alt="https://unsplash.com/@theunsteady5">
                            </div>
                        </div>

                    </div>	
            </div>
            <div class="col-md-12">
                    <br />
                    <br />
                <div class="form-group">
                    <button type="submit" ac class="btn btn-primary float-right">Salvar</button>
                    <button type="button" onclick="goBack()" class="btn btn-primary float-left">Cancelar</button>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</main>
{% endblock %}