{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
{% load cloudinary %}
<main>
    <form enctype="multipart/form-data" method="POST" action="/evento/eventoDetalhes">
        <input type="hidden" name="eventoID" value="{{eventoObj.id}}">
        {% csrf_token %}
        <div class="row" >
            <img src="{% static '/icones/event.svg' %}" class="svg cabecalho" alt="">
            <h1>Evento Detalhado</h1><br />
            {% if eventoObj %}
            <div class="col-md-12 ">
                <br />
                <br />
            
                <div class="col-md-12">
                    <span>Upload da imagem adicional:</span><br />
                    <div class="input-group mb-3">
                        <input type="url" class="form-control" placeholder="Selecione a imagem..." name="urlImagen" id="basic-url" aria-describedby="basic-addon3">  
                        <input type="file" style="display: none;" value="Upload" name="imagemAdicional" class="form-control" id="file" id="basic-url" aria-describedby="basic-addon3">  
                        <div class="input-group-append">
                            <button class="btn btn-secondary " style="z-index: 0;" onclick="$('#file').trigger('click');" type="button">Selecionar imagem</button>
                        </div>
                    </div>
                </div>
                <div class="row d-flex flex-row align-items-end">
                    <div class="col-lg-2 order-lg-1 order-2">
                        <div class="event_date d-flex flex-column align-items-center justify-content-center">
                            <div class="event_day">{{diaEvento}}</div>
                            <div class="event_month">{{mesEvento}}</div>
                        </div>
                    </div>

                    <div class="col-lg-6 order-lg-2 order-3">
                        <div class="event_content">
                            <div class="event_name"><a class="trans_200" href="#">{{eventoObj.titulo}}</a></div>
                            <div class="event_location" style="color: #b1b1b1;">{{eventoObj.local_evento}}</div>
                            <p>{{eventoObj.descricao}}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 order-lg-3 order-1">
                        <div class="event_image">
                            {% cloudinary eventoObj.imagem_capa widht=80 crop="pad" %}
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-12">
                <p class="estiloEvento">&nbsp;&nbsp;&nbsp; {{eventoObj.conteudo}}</p>
            </div>
            <div class="col-md-12">
                <div class="styleImagens">
                    {% for imagem_adicional in imagensAdicionais %}
                        {% cloudinary imagem_adicional.image width=100 height=100 crop="fill" %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <br />
                <br />
                <div class="form-group">
                    <button type="submit" ac class="btn btn-primary float-right">Editar</button>
                    <button type="button" onclick="goBack()" class="btn btn-secondary float-left">Voltar</button>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</main>
{% endblock %}