{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
{% load cloudinary %}
<main>
    <h1>Visualizar Eventos</h1>
    {% if eventoObj1 %}
    <!-- Event Item -->
    <form>
        <input type="hidden" name="eventoID" value="2">
    <div class="row event_item">
        <div class="col">
            <div class="row d-flex flex-row align-items-end ">

                <div class="col-lg-2 order-lg-1 order-2">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">{{diaEvento1}}</div>
                        <div class="event_month">{{mesEvento1}}</div>
                    </div>
                </div>

                <div class="col-lg-6 order-lg-2 order-3">
                    <div class="event_content">
                        <div class="event_name"><a class="trans_200" href="/evento/eventoDetalhes">{{tituloEvento1}}</a></div>
                        <div class="event_location">{{localEvento1}}</div>
                        <p>{{descBreveEvento1}}</p>
                    </div>
                </div>

                <div class="col-lg-4 order-lg-3 order-1">
                    <div class="event_image">
                        {% cloudinary eventoObj1.imagem_capa widht=80 crop="pad" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if eventoObj2 %}
    <!-- Event Item -->
    <div class="row event_item">
        <div class="col">
            <div class="row d-flex flex-row align-items-end ">

                <div class="col-lg-2 order-lg-1 order-2">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">{{diaEvento2}}</div>
                        <div class="event_month">{{mesEvento2}}</div>
                    </div>
                </div>

                <div class="col-lg-6 order-lg-2 order-3">
                    <div class="event_content">
                        <div class="event_name"><a class="trans_200" href="/evento/eventoDetalhes">{{tituloEvento2}}</a></div>
                        <div class="event_location">{{localEvento2}}</div>
                        <p>{{descBreveEvento2}}</p>
                    </div>
                </div>

                <div class="col-lg-4 order-lg-3 order-1">
                    <div class="event_image">
                        {% cloudinary eventoObj2.imagem_capa widht=80 crop="pad" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if eventoObj3 %}
    <!-- Event Item -->
    <div class="row event_item">
        <div class="col">
            <div class="row d-flex flex-row align-items-end ">

                <div class="col-lg-2 order-lg-1 order-2">
                    <div class="event_date d-flex flex-column align-items-center justify-content-center">
                        <div class="event_day">{{diaEvento3}}</div>
                        <div class="event_month">{{mesEvento3}}</div>
                    </div>
                </div>

                <div class="col-lg-6 order-lg-2 order-3">
                    <div class="event_content">
                        <div class="event_name"><a class="trans_200" href="/evento/eventoDetalhes">{{tituloEvento1}}</a></div>
                        <div class="event_location">{{localEvento3}}</div>
                        <p>{{descBreveEvento3}}</p>
                    </div>
                </div>

                <div class="col-lg-4 order-lg-3 order-1">
                    <div class="event_image">
                        {% cloudinary eventoObj3.imagem_capa widht=80 crop="pad" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </form>
</main>
{% endblock %}