{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
{% load cloudinary %}
<main>
    <form enctype="multipart/form-data" method="POST" action="/evento/novo">
        {% csrf_token %}
        <div class="row" >
            <img src="{% static '/icones/event.svg' %}" class="svg cabecalho" alt="">
            <h1>Evento Detalhado</h1><br />
            {% if eventoObj %}
            <div class="col-md-12 ">
                    <br />
                    <br />
                <div class="row d-flex flex-row align-items-end">
                    <div class="col-lg-2 order-lg-1 order-2">
                        <div class="event_date d-flex flex-column align-items-center justify-content-center">
                            <div class="event_day">{{diaEvento}}</div>
                            <div class="event_month">{{mesEvento}}</div>
                        </div>
                    </div>

                    <div class="col-lg-6 order-lg-2 order-3">
                        <div class="event_content">
                            <div class="event_name"><a class="trans_200" href="#">{{tituloEvento}}</a></div>
                            <div class="event_location">{{localEvento}}</div>
                            <p>{{descBreveEvento}}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 order-lg-3 order-1">
                        <div class="event_image">
                            {% cloudinary eventoObj.imagem_capa widht=80 crop="pad" %}
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-12">
                <br />
                <br />
                <div class="form-group">
                    <button type="submit" ac class="btn btn-primary float-right">Editar</button>
                    <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
</main>
{% endblock %}