{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Cursos</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Adults</h3>
                <h5 class="curso">Curso intensivo voltado a preparar o aluno mais rapidamente com aulas 100 % inglês todos os dias, turmas reduzidas, rotatividade de professores e também com nativos.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}