{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Cursos</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Tests Preparation</h3>
                <h5 class="cursos">O formato foi elaborado para atender pessoas que desejam ou precisam serem aprovadas em alguma das provas de certificação de língua inglesa. É uma ferramenta de aprendizado destinada a aumentar o desempenho dos alunos na gramática desses testes padronizados.  Utilizamos conteúdos atualizados com exercícios de treinamento em todos os níveis gramaticais e realizamos simulados para garantir a eficácia e chance de sucesso nas provas.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}