{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Cursos</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">VIP</h3>
                <h5 class="curso">O aluno também pode escolher modalidade individual caso queira acelerar ainda mais seu aprendizado ou também para treinamentos específicos, como treinamentos para entrevistas de emprego, viagens entre outros.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}