{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
{% load cloudinary %}
<main>
    <div id='backend_upload'>
        <form action="/evento/busca" method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          {{ backend_form }}
          <input type="submit" class="btn btn-primary float-left" value="Upload">
        </form>
      </div>  
      <br />  
      <br />  
      <br />
      {% cloudinary eventoObj.imagem %}
      <br />
      {% cloudinary eventoObj.imagem_capa %}
    <br />
    <div>
        <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>
    </div>
</main>
{% endblock %}