{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <h1>Novo Evento</h1><br />
    <form enctype="multipart/form-data" method="POST" action="/evento/novo">
        {% csrf_token %}
        <div class="row" >
            <div class="col-md-6">
                <span>Titulo do evento:</span>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Ex: Halloween WINNER</span>
                    </div>
                    <input type="text" name="tituloEvento" class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
                </div>
            </div>
            <div class="col-md-3">
                <span>Data:</span>
                <div class="input-group mb-3">
                    <input type="datetime-local" name="dataEvento" value="{{todayFormatado}}" class="form-control" id="basic-url" aria-describedby="basic-addon3" required>
                </div>
            </div>
            <div class="col-md-12">
                <span>Upload da imagem capa:</span><br />
                <div class="input-group mb-3">
                    <input type="file" value="imagemCapa" name="imagemCapa" class="form-control" required>  
                </div>
            </div>
            <div class="col-md-12">
                    <span>Descrição do evento:</span>
                    <textarea name="descCompletaEvento" class="form-control" aria-label="With textarea" required></textarea>
                    <br />
            </div>
            <div class="col-md-12">
                <span>Upload de imagens adicionais:</span>
                <div class="input-group mb-3">
                    <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3">  
                    <div class="input-group-append">
                        <button class="btn btn-secondary " style="z-index: 0;" type="button">Selecionar imagem</button>
                    </div>
                </div>
            </div>
            {% if not novoEvento %}
            <div class="col-md-12">
                    <br />
                    <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary float-right">Visualizar</button>
                    <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>
                </div>
            </div>
            {% endif %}
            {% if novoEvento %}
            <div class="col-md-12">
                <img src="{{novoEvento.imagemCapa}}">
            </div>
            {% endif %}

        </div>
    </form>
</main>
{% endblock %}