{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
        <p><img src="{% static '/icones/contato.svg' %}" class="svg cabecalho" alt="">  <h3 class="cabecalho-text">Contato</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-6 ">
                <h4 class="text-justify">&nbsp; Dúvidas sobre algum curso ou serviço da Winner Idiomas? Não localizou nas perguntas frequentes a solução? Esse espaço foi criado para responder o que você não encontrou, registrar elogios e dar sugestões.</h4>
            </div>
            <div class="col-6 ">
                <form method="POST" action="/contato">
                {% csrf_token %}
                    <div class="col">
                        <span>Nome<span class="requerido">*</span></span>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" required>
                    </div><br>
                    <div class="col">
                        <span>Sobrenome</span>
                        <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome">
                    </div><br>
                    <div class="col">
                        <span>E-mail<span class="requerido">*</span></span>
                        <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                    </div><br>
                    <div class="col">
                        <span>Telefone</span>
                        <input type="text" class="form-control" placeholder="Telefone" name="telefone">
                    </div><br>
                    <div class="col">
                        <span>Mensagem<span class="requerido">*</span></span>
                        <textarea maxlength="500" class="form-control" rows="5" placeholder="Digite aqui..." name="mensagem" required></textarea>
                    </div><br>
                    <div class="col float-right">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}