{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Cursos</h3></p>
        <br />
        <br />
        <div class="row">
        <div class="col">
            <h3 class="curso-head">Kids</h3>
            <h4 class="cursos">Com a animação do Método Callan em seu núcleo, Callan para Crianças envolve os pequenos em uma variedade de atividades de curta duração muito dinâmicas, garantindo que, enquanto estiverem em sala, estejam cercados por Inglês, ouvindo e falando o tempo todo.</h4>
        </div>
        <div class="col">
            <h2></h2>
        </div>
    </div>
    </div>
</div>
{% endblock %}