{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Cursos</h3></p>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Kids</h3>
                <h5 class="cursos">Com a animação do Método Callan em seu núcleo, Callan para Crianças envolve os pequenos em uma variedade de atividades de curta duração muito dinâmicas, garantindo que, enquanto estiverem em sala, estejam cercados por Inglês, ouvindo e falando o tempo todo.</h5>
            </div>
            <div class="col">
                <h3 class="curso-head">Adults</h3>
                <h5 class="curso">Curso intensivo voltado a preparar o aluno mais rapidamente com aulas 100 % inglês todos os dias, turmas reduzidas, rotatividade de professores e também com nativos.</h5>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Business</h3>
                <h5 class="cursos">Nosso curso de inglês para negócios destina-se a pessoas que precisam falar inglês com confiaça em um ambiente de trabalho. Callan for Business foi cuidadosamente desenvolvido, compreende por volta de 700 palavras de vocabulário relacionadas a negócios, expressões mais utilizadas, treinamento de criação de relatórios, memorandos, cartas, etc…</h5>
            </div>
            <div class="col">
                <h3 class="curso-head">In Company</h3>
                <h5 class="curso">O formato foi elaborado para atender de forma eficaz às necessidades de tempo e espaço das empresas, permitindo que o colaborador aprenda um novo idioma e enfrente de forma competitiva as situações do dia a dia profissional.</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}