{% extends 'base.html' %}

{% block body %}
{% load static %}

<!-- Home -->

	<div class="home">

		<!-- Hero Slider -->
		<div class="hero_slider_container">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="{% static '/images/slider_background.jpg' %}" alt="First slide">
                </div>
                <!--<div class="carousel-item">
                  <img class="d-block w-100" src="{% static '/images/slider_background.jpg' %}" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="{% static '/images/slider_background.jpg' %}" alt="Third slide">
                </div>-->
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
		</div>

	</div>

	<div class="hero_boxes">
		<div class="hero_boxes_inner">
			<div class="container">
				<div class="row">

					<div class="col-lg-4 hero_box_col">
						<div class="box-style hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static '/icones/livros.svg' %}" class="svg icones" alt="">
							<div class="box-color hero_box_content">
								<a class="box-link fonte box-color hero_box_title" href="/instituicao">Nossa Instituição</a><br />
								<a href="/instituicao" class="fonte box-color hero_box_link">Saiba mais...</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="box-style hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static '/icones/metodo.svg' %}" class="svg" alt="">
							<div class="box-color hero_box_content">
								<a class="box-link fonte box-color hero_box_title" href="/metodo">Nosso Método</a><br />
								<a href="/metodo" class="fonte box-color hero_box_link">Saiba mais...</a>
							</div>
						</div>
					</div>

					<div class="col-lg-4 hero_box_col">
						<div class="box-style hero_box d-flex flex-row align-items-center justify-content-start">
							<img src="{% static '/icones/colaboradores.svg' %}" class="svg" alt="">
							<div class="box-color hero_box_content">
								<h2 class="box-link box-color hero_box_title">Colaboradores</h2>
								<a href="/colaboradores" class="box-color hero_box_link">Saiba mais...</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="services page_section">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Conheça o <span style="font-family: 'Chilanka', cursive; color: #007bff;"> Callan Method</span></h1>
					</div>
				</div>
			</div>
			<div class="row services_row">

					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="{% static '/images/graduation.png' %}" alt="">
						</div>
						
					</div>
	
					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="{% static '/images/graduation.png' %}" alt="">
						</div>
					</div>
	
					<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
						<div class="icon_container d-flex flex-column justify-content-end">
							<img src="{% static '/images/graduation.png' %}" alt="">
						</div>
					</div>
	
				</div>
		</div>
	</div>

	<!-- Nossos cursos -->

    <div class="services page_section">
		
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Winner Idiomas</h1>
					</div>
				</div>
			</div>

			<div class="row services_row">

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="{% static '/icones/professor.svg' %}" alt="">
					</div>
					<h3>Nossos Professores</h3>
					<p>Os professores são altamente qualificados e acompanham os estudantes em todas as estapas do curso.</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="{% static '/icones/certificado.svg' %}" alt="">
					</div>
					<h3>Certificados</h3>
					<p>TOEFL, TOEIC, IELTS, Cambridge English Exams entre outros.</p>
				</div>

				<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
					<div class="icon_container d-flex flex-column justify-content-end">
						<img src="{% static '/icones/livroCaneta.svg' %}" alt="">
					</div>
					<h3>Calan Method</h3>
					<p>O Método Callan é um método de ensino criado especificamente para aprimorar o seu inglês em um ambiente intensivo.</p>
				</div>

			</div>
		</div>
	</div>

	<!-- Register -->

	<div class="register">

		<div class="container-fluid">
			
			<div class="row row-eq-height">
				<div class="col-lg-6 nopadding">
					
					<!-- Register -->

					<div class="register_section d-flex flex-column align-items-center justify-content-center">
						<div class="register_content text-center">
							<h1 class="register_title">Promoção para novos alunos</h1>
							<p class="register_text">Com essa super promoção vc vai poder estudar inglês do jeito que você queria.</p>
							<div class="button button_1 register_button mx-auto trans_200"><a href="#">Registrar</a></div>
						</div>
					</div>

				</div>

				<div class="col-lg-6 nopadding">
					
					<!-- Search -->

					<div class="search_section d-flex flex-column align-items-center justify-content-center">
						<div class="search_background" style="background-image:url(../static/images/search_background.jpg);"></div>
						<div class="search_content text-center">
							<h1 class="search_title">Procurar cursos específicos .</h1>
							<form id="search_form" class="search_form" action="post">
								<input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Nome do curso" required="required" data-error="Digite o nome do curso.">
								<input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Categoria">
								<input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Grau">
								<button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">Procurar curso.</button>
							</form>
						</div> 
					</div>

				</div>
			</div>
		</div>
	</div>



	<!-- Testimonials -->

	<div class="testimonials page_section">
		<!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url(../static/images/testimonials_background.jpg)"></div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Saiba mais sobre a WINNER IDIOMAS</h1>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
					<div class="testimonials_slider_container">
                        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
                          <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
                          </ol>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento de alguns alunos.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Igor Peres</div>
										<div class="testimonial_title">Estudante</div>
									</div>
								</div>
                            </div>
                            <div class="carousel-item">
                              <div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento professor.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Mike</div>
										<div class="testimonial_title">Professor</div>
									</div>
								</div>
                            </div>
                            <div class="carousel-item">
                              <div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento colaborador.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Joana Silva</div>
										<div class="testimonial_title">Assistente</div>
									</div>
								</div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
		            </div>
						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">
							
							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento de alguns alunos.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Igor Peres</div>
										<div class="testimonial_title">Aluno</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento de alguns professores.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Mike</div>
										<div class="testimonial_title">Professor</div>
									</div>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<div class="quote">“</div>
									<p class="testimonials_text">Depoimento de alguns funcionarios da empresa.</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static '/images/testimonials_user.jpg' %}" alt="">
										</div>
										<div class="testimonial_name">Joana Silva</div>
										<div class="testimonial_title">Assistente</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Events -->

	<div class="events page_section">
		<div class="container">
			
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h1>Próximos Eventos</h1>
					</div>
				</div>
			</div>
			
			<div class="event_items">

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">15</div>
									<div class="event_month">Agosto</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Evento dia 15/08</a></div>
									<div class="event_location">Winner Idiomas</div>
									<p>O evento acontecerá na sede da winner idiomas em Três Lagoas - MS</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="{% static '/images/event_1.jpg' %}" alt="https://unsplash.com/@theunsteady5">
								</div>
							</div>

						</div>	
					</div>
				</div>

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">10</div>
									<div class="event_month">Agosto</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Evento dia 10/08</a></div>
									<div class="event_location">Winner Idiomas</div>
									<p>O evento acontecerá na sede da winner idiomas em Três Lagoas - MS</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="{% static '/images/event_2.jpg' %}" alt="https://unsplash.com/@theunsteady5">
								</div>
							</div>

						</div>	
					</div>
				</div>

				<!-- Event Item -->
				<div class="row event_item">
					<div class="col">
						<div class="row d-flex flex-row align-items-end">

							<div class="col-lg-2 order-lg-1 order-2">
								<div class="event_date d-flex flex-column align-items-center justify-content-center">
									<div class="event_day">07</div>
									<div class="event_month">Agosto</div>
								</div>
							</div>

							<div class="col-lg-6 order-lg-2 order-3">
								<div class="event_content">
									<div class="event_name"><a class="trans_200" href="#">Evento dia 07/08</a></div>
									<div class="event_location">Winner Idiomas</div>
									<p>O evento acontecerá na sede da winner idiomas em Três Lagoas - MS</p>
								</div>
							</div>

							<div class="col-lg-4 order-lg-3 order-1">
								<div class="event_image">
									<img src="{% static '/images/event_3.jpg' %}" alt="https://unsplash.com/@theunsteady5">
								</div>
							</div>

						</div>	
					</div>
				</div>

			</div>
				
		</div>
	</div>
{% endblock %}