{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
	    <p><img src="{% static '/icones/cabecalho.svg' %}" class="svg cabecalho" alt=""><h3 class="cabecalho-text">Método CALLAN</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">O QUE É O MÉTODO CALLAN?</h3>
                <h5 class="cursos">Com o Método Callan você aprende inglês de uma
                        forma prática, divertida e dinâmica. Sendo este
                        método rápido e eficiente, você economiza tempo
                        e dinheiro. Escolas em mais de 30 países utilizam o
                        Método Callan, que já ajudou mais de um milhão
                        de pessoas ao redor do mundo a se comunicar em
                        inglês de forma confiante e eficaz.</h5>
            </div>
        </div>
        <br />
        <br />
        <br />
        <h3 class="curso-head">10 EXCELENTES RAZÕES PARA SE
                ESCOLHER O MÉTODO CALLAN:</h3>
                <br />
        <div class="row">
            <div class="col">
                <h6 class="cursos"><span class="curso-head">1.</span> Funciona para todos os níveis!
                        O Método Callan é uma forma altamente
                        eficaz e eficiente de se aprender uma
                        língua estrangeira – você aprende fácil e
                        rapidamente, sendo você um completo
                        iniciante, estudante intermediário ou
                        avançado.</h6>
            </div>
            <div class="col">
                <h6 class="cursos"><span class="curso-head">2.</span> É divertido e fácil. As aulas são rápidas e
                dinâmicas – onde os alunos estão sempre
                envolvidos. E a estrutura de um curso do
                método Callan é simples e clara – apenas
                traga seu livro para a aula. O método cuida
                de tudo.</h6>
            </div>
        </div><br/>
        <div class="row">
            <div class="col">
                <h6 class="cursos"><span class="curso-head">3.</span>Ouvir e falar são as prioridades. No Método
                    Callan você não perde nenhum minuto. Está
                    constantemente ouvindo e falando, o que lhe
                    dá a confiança necessária para que você use
                    o inglês em qualquer situação.</h6>
            </div>
            <div class="col">
                <h6 class="cursos"><span class="curso-head">4.</span>Você desfrutará de apoio constante de
                    seu professor. Seu professor sempre te apoia
                    quando você fala e corrige seus erros de forma
                    rápida e simples, sem complicação!</h6>
            </div>
        </div><br/>
        <div class="row">
            <div class="col">
                <h6 class="cursos"><span class="curso-head">5.</span> Você aprende dando um passo de
                    cada vez. Você pratica cada nova palavra,
                    expressão ou tópico gramatical com base no
                    conhecimento que já possui. Isso faz com que
                    as aulas sejam sempre manejáveis – nunca
                    demais!</h6>
            </div>
            <div class="col">
                <h6 class="cursos"><span class="curso-head">6.</span> Você sempre terá revisões. Você aprende
                    matéria nova a cada aula, mas o Método
                    Callan também assegura que você pratique
                    novamente tudo o que foi aprendido,
                    sistematicamente, para que você realmente se
                    lembre do que aprendeu.</h6>
            </div>
        </div><br/>
        <div class="row">
            <div class="col">
                <h6 class="cursos"><span class="curso-head">7.</span> Somente inglês é utilizado durante a aula.
                    Isso significa que você estará imerso o tempo
                    todo na língua que deseja aprender.</h6>
            </div>
            <div class="col">
                <h6 class="cursos"><span class="curso-head">8.</span> Você escuta a língua sendo falada de
                    forma natural. Nossos professores falam
                    rapidamente, assim como os nativos em seu
                    cotidiano. Isso significa que você aprende a
                    entender sem traduzir e consegue lidar com as
                    situações que podem surgir em qualquer lugar
                    – não somente na aula!</h6>
            </div>
        </div><br/>
        <div class="row">
            <div class="col">
                <h6 class="cursos"><span class="curso-head">9.</span> Você aprende a gramática na prática. Seu
                    professor lhe explica os tópicos gramaticais
                    através de regras claras e com bons exemplos.
                    Então você fala, imediatamente praticando o
                    que aprende.</h6>
            </div>
            <div class="col">
                <h6 class="cursos"><span class="curso-head">10.</span> Você pode praticar onde quer que esteja.
                    Sendo aluno de uma escola credenciada
                    pelo Método Callan, você pode utilizar a
                    plataforma online exclusiva chamada de CSPA
                    – Callan Student Practice Area – a qualquer
                    momento.
                    </h6>
            </div>
        </div>
    </div>
</div>
{% endblock %}