{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
    <div class="jumbotron container">
        <p><img src="{% static '/icones/exam.svg' %}" class="svg cabecalho" alt="">
            <h3 class="cabecalho-text">Teste de nivelamento</h3>
        </p>
        <br />
        <div class="row">
            <div class="col-12">
                <h5 class="cursos">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Olá nós da Winner Idiomas queremos saber um pouquinho mais sobre você antes de
                    começarmos o teste de nivelamento.</h5>
            </div>
            <div class="col-12" style="padding: 15px 30px 0px 30px;">
                <label>Nome:</label>
                <input type="text" name="nome" class="form-control" maxlength="1000" placeholder="Nome">
            </div>
        </div>
    </div>
</div>
{% endblock %}