{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
        <img src="{% static '/images/maisSabor.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/draxx.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/eldorado.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/metalfrio.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/internationalPaper.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/petrobras.png' %}" class="parceiros" alt="">
        <img src="{% static '/images/fibriaSuzano.png' %}" class="parceiros" alt="">
    </div>
</div>
{% endblock %}