{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="main-container">
	<div class="jumbotron container" style="background: #ffffff">
        <p><img src="{% static '/icones/instituicao.svg' %}" class="svg cabecalho" alt="">  <h3 class="cabecalho-text">Unidades</h3></p>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Unidade Três Lagoas</h3>
                <h5 class="cursos">Rua Bruno Garcia,1455 Colinos <br>67 3522-9642</h5>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Unidade Água Clara</h3>
                <h5 class="cursos">Rua Munir Tomé, 60 Centro <br>67 3239-1083</h5>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col">
                <h3 class="curso-head">Unidade Ribas do Rio Pardo</h3>
                <h5 class="cursos">Rua Hamilton Fontoura, 1085 Centro  <br>67 3238-3105</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}