{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <form method="POST" action="/gerencia/aluno/novo">
        {% csrf_token %} 
        <div class="row">
            <div class="col-sm-12 col-md-4 col-4">
                <label >Nome</label>
                <input type="text" name="nome" class="form-control" maxlength="300" placeholder="Nome">
            </div>
            <div class="col-sm-12 col-md-8 col-8">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" maxlength="400" placeholder="Sobrenome">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >CPF</label>
                <input type="text" class="form-control" name="cpf" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >RG</label>
                <input type="text" class="form-control" name="rg" maxlength="13" onkeydown="javascript: fMasc( this, mRG );">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Data de Nasc.</label>
                <input type="date" name="dataNasc" value="{{today}}" class="form-control">
            </div>
            <div class="col-sm-12 col-md-8 col-8">
                <label >E-mail</label>
                <input type="email" name="email" maxlength="300" class="form-control">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Celular</label>
                <input type="text" class="form-control" name="celular" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Telefone</label>
                <input type="text" class="form-control" name="telefone" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Classe</label>
                <input type="text" name="classe" class="form-control" maxlength="200" placeholder="Classe">
            </div>
            <div class="col-sm-12 col-md-1 col-1">
            </div>
            <div class="col-sm-12 col-md-3 col-3">
                <label >CEP</label>
                <input type="text" class="form-control" name="cep" maxlength="10" onkeydown="javascript: fMasc( this, mCEP );">
            </div>
            <div class="col-sm-12 col-md-10 col-10">
                <label >Endereço</label>
                <input type="text" name="endereco" class="form-control" maxlength="400" placeholder="Endereço">
            </div>
            <div class="col-sm-12 col-md-2 col-2">
                <label >Número</label>
                <input type="number" name="numero" class="form-control" maxlength="4" placeholder="9999">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Bairro</label>
                <input type="text" name="bairro" class="form-control" maxlength="200" placeholder="Bairro">
            </div>
            <div class="col-sm-12 col-md-1 col-1">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Cidade</label>
                <select name="cidade" class="custom-select form-control">
                    <option selected disabled>-- Cidades --</option>
                    {% for cidadeModel in cidades %}
                        <option value="{{cidadeModel.id}}">{{cidadeModel.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-12 col-md-3 col-3">
                <label >Estado</label>
                <select name="cidade" class="custom-select form-control">
                        <option selected value="12">MS</option>
                </select>
            </div>
        </div>
        <br />
        <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>        
        <button type="submit" class="btn btn-primary float-right">Salvar</button>
    </form>
</main>
{% endblock %}