{% extends 'diretoria_base.html' %}
{% block body %}
{% load static %}
<main>
    <form method="POST" action="/gerencia/aluno/novo">
        {% csrf_token %} 
        <div class="row">
            <div class="col-sm-12 col-md-4 col-4">
                <label >Nome</label>
                <input type="text" name="nome" class="form-control" placeholder="Nome">
            </div>
            <div class="col-sm-12 col-md-8 col-8">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >CPF</label>
                <input type="text" name="cpf" class="form-control" placeholder="CPF">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >RG</label>
                <input type="text" name="rg" class="form-control" placeholder="RG">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Data de Nasc.</label>
                <input type="date" name="dataNasc" class="form-control">
            </div>
            <div class="col-sm-12 col-md-8 col-8">
                <label >E-mail</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Celular</label>
                <input type="number" name="celular" class="form-control" placeholder="9999">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Telefone</label>
                <input type="number" name="telefone" class="form-control" placeholder="9999">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Classe</label>
                <input type="text" name="classe" class="form-control" placeholder="Classe">
            </div>
            <div class="col-sm-12 col-md-1 col-1">
            </div>
            <div class="col-sm-12 col-md-3 col-3">
                <label >CEP</label>
                <input type="number" name="cep" class="form-control" placeholder="9999">
            </div>
            <div class="col-sm-12 col-md-10 col-10">
                <label >Endereço</label>
                <input type="text" name="endereco" class="form-control" placeholder="Endereço">
            </div>
            <div class="col-sm-12 col-md-2 col-2">
                <label >Número</label>
                <input type="number" name="numero" class="form-control" placeholder="9999">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Bairro</label>
                <input type="text" name="bairro" class="form-control" placeholder="Bairro">
            </div>
            <div class="col-sm-12 col-md-1 col-1">
            </div>
            <div class="col-sm-12 col-md-4 col-4">
                <label >Cidade</label>
                <input type="text" name="cidade" class="form-control" placeholder="Cidade">
            </div>
            <div class="col-sm-12 col-md-3 col-3">
                <label >Estado</label>
                <input type="text" name="estado" class="form-control" placeholder="Estado">
            </div>
        </div>
        <br />
        <button type="button" onclick="goBack()" class="btn btn-primary float-left">Voltar</button>        
        <button type="submit" class="btn btn-primary float-right">Salvar</button>
    </form>
</main>
{% endblock %}